.login {
    background-image: url('/images/background-dark.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login>form {
    width: 400px;
    margin-top: 20px;
}

@media (prefers-color-scheme: light) {
    .login {
        background-image: url('/images/background-light.png');
    }
}