.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
    filter: invert(1);
    transition: all 0.4s;
}

@media (prefers-color-scheme: light) {
    .logo img {
        filter: none;
    }
}